.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

* {
    box-sizing: border-box;
}

header {
    background: #3498db;
    margin-bottom: 1rem;
}

main {
    padding: 0 2rem;
}

input[type='text'] {
    margin: 1rem;
    background: #fff;
    font-size: 1.3rem;
    border: none;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    border-radius: 3px;
    padding: 0 2rem;
    width: calc(100% - 2rem);
    height: 4rem;
}

ul {
    padding: 0;
}

li {
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 0.35rem 0.95rem;
    font-size: 1.25em;
    margin: 4px;
    border-radius: 3px;
    border: 1px solid #c7c7c7;
}

li:hover {
    cursor: pointer;
}

li {
    background: #d7d7d7;
    color: #222;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

li:hover {
    background: #c7c7c7;
}


button {
    background: #d7d7d7;
    color: #3b3b3b;
    padding: 0.6rem 1rem;
    font-size: 1.25rem;
    border: solid 1px #c7c7c7;
    margin: 1rem 0;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    border-radius: 3px;
    outline: none;
}

button:hover {
    background: #ddd;
    cursor: pointer;
}

h2.crypto-title{
    margin-top:-10px;
}


.spinner-container{
    width:100px;
    height:100px;
}


.ct-point {
    stroke-width: 0.5px;
}
.ct-line{
    stroke-width:.75px;
}